.header {
  color: rgba(255,255,255,0.8);
  height: 60px;
  padding: 8px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 100%;
}

.button-wrapper {
  margin-right: 20px;
}

.header-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 100%;
  font-size: 14px;
  cursor: pointer;
}

div.header-button:hover {
  color: white;
}

.header-button-icon {
  font-size: 26px;
  margin-right: 8px;
}
