.wrapper {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: auto;
  width: 100%;
}

.content-wrapper {
  padding: 5%;
  background-color: white;
  min-height: 500px;
}
